# NOTE: 
# Since July 03, 2025 exifoo is free to use and open source.
# Therefore, there is no need anymore for the Supabase database

fastapi
uvicorn
pillow
pillow-heif
pyinstaller
requests
py-machineid
keyring
cryptography
# supabase
sentry-sdk[fastapi]
